/* ==========================================================================
  SCREEN WIDTH VARIABLES
========================================================================== */

$width-desktop: 1900px;
$width-laptop: 90vw;
$width-tablet: 94vw;
$width-phone: 95vw;

/* ==========================================================================
  BREAKPOINTS VARIABLES
========================================================================== */

$breakpoint-smartphone: 767px;
$breakpoint-tablet: 1024px;
$breakpoint-laptop: 1550px;

/* ==========================================================================
  MEDIA QUERY MANAGER
========================================================================== */

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: $breakpoint-smartphone) {
      @content;
    }
    // MAX = 767px;
  }
  @if $breakpoint == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
    // MAX = 1024px;
  }
  @if $breakpoint == laptop {
    @media (max-width: $breakpoint-laptop) {
      @content;
    }
    // MAX = 1550px;
  }
}

/* ==========================================================================
  COLOR VARIABLES
========================================================================== */

$color-teal: #006a4e;
$color-beige: #eaeab4;
$color-orange: orange;
$color-light-blue: #3083e9;
$color-dark-blue: #172b4d;

$color-body-background: #fafafa;
$color-img-platzhalter: #202020;

$color-text-white: #fff;
$color-text-dark: #202020;

/* ==========================================================================
  FONTS
========================================================================== */

$font-family: "Montserrat", sans-serif;
$font-family2: "Helvetica Neue", Helvetica, Arial, sans-serif;

//Überschriften

$font-size-h1-logo-lg: 2.5rem;
$font-size-h1-logo-sm: 2rem;

$font-size-h1-lg: 1.8rem;
$font-size-h1-md: 1.5rem;
$font-size-h1-sm: 1.5rem;

$font-size-h2-lg: 2rem;
$font-size-h2-md: 2rem;
$font-size-h2-sm: 2rem;

$font-size-h3-lg: 1.3rem;
$font-size-h3-md: 1.3rem;
$font-size-h3-sm: 2rem;

// Standard Text

$font-size-p-lg: 18px;
$font-size-p-md: 1.2rem;
$font-size-p-sm: 1rem;

// Zeilenabstand

$line-height: 1.3;

// Zeichenabstand

$letter-spacing: 1px;
